<%- include('header.ejs') %> 



  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-dark unique-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
      aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-weight-bold" href="#" id="chat">Chat</a>
        </li>

      </ul>
      <!-- Links -->

      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </div>
    <!-- Collapsible content -->

  </nav>
  <!--/.Navbar-->

  <div class="container mt-5">
     <section>  
      <form action="/" method="post"   id="msgForm">
       
            <input id='msgInp' placeholder="Enter Message" type="text" name="msg"  required autocomplete="off" />
            <button  > Send </button>
        </form>
        <div class='chat-messages'>
          
        </div>
      </section>
   </div>
  
   

  <%- include('foother.ejs') %> 